@import "utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(xl) {
    width: 100vw;
  }
}
button {
  cursor: pointer;
}
